<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
            Dear Valued Client, <br>
            <br>
            You are cordially invited to the Sanlam Unit Trust Scheme 7th Annual General Meeting that will be held virtually via an
            online platform facilitated by Image Registrars. We refer to our recent public notice on the Annual General Meeting
            published in the Daily Nation and Standard newspapers and provide the following additional information:
            <br>
            
            Date: 26th May 2022 <br>
            Time: 10:00am —11:30am<br>
            Proxy Nomination — if you are unable to personally attend, you may nominate a representative by filling the attached
            form or following instructions that will be sent by Image Registrar.<br>
            You may review the financial statements for the year ending 31st December 2021 on our website. A summarized set of the
            financial statements can be downloaded by <a href="https://www.sanlam.co.za/investmentseastafrica/unittrusts/Documents/Summary-of-Annual-Financials-2021.pdf">clicking here.</a>  <br>
            You can access the AGM Notice to Unit Trust Holders by <a href="https://www.sanlam.co.za/investmentseastafrica/unittrusts/Documents/Notice%20of%20the%20Sanlam%20Unit%20Trust%20Annual%20General%20Meeting.pdf">clicking here.</a> <br>
            All corporate clients are to nominate one member who is a signatory to act as a proxy in attending the virtual meeting.
            If you have any additional questions, please send an email to agm@sanlameastafrica.com. <br>
            <br>
            Kind regards,<br>
            <br>
            Sanlam Unit Trust

  
    </div>
</body>
</html>